[submodule "anlz/frida_js"]
	path = anlz/frida_js
	url = http://giteaz:3000/frida_analyze_app_src/frida_js.git
[submodule "anlz/analyze_by_graph"]
	path = anlz/analyze_by_graph
	url = http://giteaz:3000/frida_analyze_app_src/analyze_by_graph.git