
[submodule "frida_js"]
	path = anlz/frida_js
	url = http://giteaz:3000/frida_analyze_app_src/frida_js.git
[submodule "analyze_by_graph"]
	path = anlz/analyze_by_graph
	url = http://giteaz:3000/frida_analyze_app_src/analyze_by_graph.git
[submodule "app_env"]
	path = app_env
	url = http://giteaz:3000/frida_analyze_app_src/app_env.git
[submodule "qemu"]
	path = app/qemu
	url = https://gitee.com/imagg/qemu--qemu.git
[submodule "linux"]
	path = app/linux
	url = https://mirrors.ustc.edu.cn/linux.git
